@tailwind base;
@tailwind components;
@tailwind utilities;

/*@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Playwrite+AR:wght@100..400&display=swap');
*/

/* :root {
  --font-heading: 'Roboto', sans-serif;
}

body {
  font-family: var(--font-heading);
} */

@import url("https://fonts.googleapis.com/css2?family=Kurale&display=swap");

@font-face {
  font-family: 'Kurale';
  src: url("./fonts/Kurale-Regular.ttf");
  font-style: medium;
  font-weight: normal;
  font-display: swap;
}